/*HTML classes are called in CSS as ".class-name"*/
/*HTML id's are called in CSS as "#ID-name"*/
/*HTML selectors are called in CSS as "selector-name"*/
/*least specific to most specific with spaces in between*/

.marketing{
  display:none;
/*hides row section in the first static page*/
}
footer{
  text-align: center;
}
.hideTerms{
  display: none;
}
.clickable{
  cursor: pointer;
  color: blue;
}
.clickable:hover{
  text-decoration: underline;
/*underlines when you hover on clickable text*/
}
ul div p {
  display:none;
}
